<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>

<% if current_user.token %>
  <h2>Github</h2>
  <section id='github-repos'>
    <% @users_repos.each do |repo| %>
      <ul class="user-repo">
        <li class="repo-name"><%= link_to repo.name, repo.url %></li>
      </ul>
    <% end %>
  </section>

  <section id='github-followers'>
    <h3>Followers</h3>
    <% @users_followers.each do |follower| %>
      <ul class="user-followers">
        <li class="follower-handle"><%= link_to follower.handle, follower.url %></li>
      </ul>
    <% end %>
  </section>

  <section id='github-following'>
    <h3>Following</h3>
    <% @users_following.each do |github_user| %>
      <ul class="user-following">
        <li class="following-handle"><%= link_to github_user.handle, github_user.url %></li>
      </ul>
    <% end %>
  </section>
<% end %>
